@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
:root {
  --mdc-theme-error: #b00020;
  --mdc-outlined-card-outline-width: 2px;
}
.wrap-login {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #efefef;
  margin: 0 auto;
}
.container {
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  height: calc(100% - (65px + 65px));
  justify-content: center;
  align-items: center;
}
.login-box {
  display: flex;
  justify-content: center;
  width: 328px;
  border-color: inherit;
  box-shadow: inherit;
  /* height: 100vh; */
}
.login-box mat-card-header {
  width: 128px;
  height: 128px;
  padding: 0;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.login-box mat-card-header img {
  width: 128px;
  height: 128px;
  border-radius: inherit;
}
.mat-mdc-card-content {
  padding: 0;
}
.login-box mat-form-field {
  border-color: #0000001f !important;
  border-radius: 4px;
}
.mdc-text-field--invalid .mdc-text-field__input,
.mdc-text-field .mdc-text-field__input,
.form-field {
  caret-color: #b00020 !important;
}
.form-field {
  font-size: 16px;
  letter-spacing: 0.15px !important;
  color: #000000bc !important;
}
.mat-mdc-form-field-error-wrapper {
  height: 18px;
}
.login-box mat-label,
.mat-mdc-form-field-error {
  color: #b00020 !important;
}
mat-form-field {
  width: 100%;
}
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #b00020;
  text-align: left;
  font-family: "Roboto";
  letter-spacing: 0.15px;
  border: 2px solid #b00020;
}
.mdc-text-field--focused {
  border: 2px solid #b00020;
}
.login-box .mat-form-field-invalid .mat-form-field-outline {
  border-color: #b00020 !important;
}
.mdc-card__actions {
  padding: 0;
  min-height: 36px;
}
.mat-mdc-raised-button:not(:disabled) {
  background-color: #c3001e;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  width: 98px;
  text-align: left;
  font-family: Roboto, Medium;
  letter-spacing: 1.25px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
mat-form-field .form-field {
  color: #000000bc !important;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .wrap-login {
    background: #efefef;
    padding: 0 30px;
  }
  .container {
    background: #ffffff;
    height: auto;
    padding: 22px 21px;
    width: auto;
    max-width: inherit;
  }
}
@media (max-width: 430px) {
  .container {
    background: #ffffff;
    box-shadow: inherit;
    display: block;
    justify-content: inherit;
    align-items: inherit;
  }
  .login-box {
    width: 100%;
  }
}
