/* Global Reset and Font */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f7f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
